<div class="container">   
 <form action="Add" method="post" >
        <label for="userName">Enter name: </label>
        <input type="text"   name="userName" id="userName" >
        <label for="name">Enter phone: </label>
        <input type="text" name="phone" id="phone" pattern="[0-9]{9}"><br><br>
        <input type="submit" value="Add"  class="btn btn-primary" role="button"></a>
        {{#discard}}{{/discard}}

</form>
</div>
