<div class="container mt-3" > 
    <select  onchange="window.location.href = this.options[this.selectedIndex].value" id="mySelect" class="form-select" size="{{contacts.length}}"  aria-label="Multiple select example">   
        {{#each contacts}}

         <option value="/Update?id={{id}}">{{name}} -- {{phone}}</option>
        {{/each}}

    </select>
<br>
</div>

